.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 25rem;
  display: block;
  height: 2.5rem;
  margin: 1rem auto;
}

.select {
  width: 25rem;
  height: 2.5rem;
  margin: 1rem auto;
  border: 1px solid #dcdfe1;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.avatar > img {
  border-radius: 50%;
  width: 20rem;
  margin: 2rem auto;
}

.header {
  color: #42484d;
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 3rem;
}
