.primary-btn {
  background-color: #f85c3c;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.primary-btn:hover {
  background-color: #e85032;
}

.primary-btn:disabled {
  background-color: #979ea7;
  cursor: not-allowed;
}
