.primary-btn {
  background-color: #f85c3c;
  color: white;
}

.secondary-btn {
  color: #f85c3c;
  background-color: white;
}

.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #e85032;
  color: white;
}

.btn:disabled {
  background-color: #979ea7;
  cursor: not-allowed;
}
