.card {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  border: 2px solid #dcdfe1;
  margin: 1rem auto;
  align-content: center;
  /* height: 17rem; */
}

.card > div:first-child {
  /* background-color: red; */
  border-right: 2px dashed #dcdfe1;
  flex: 1 0 0;
}

.card > div:nth-child(2) {
  /* background-color: blue; */

  flex: 2 0 0;
}

.card > div:nth-child(3) {
  /* background-color: black; */
  border-left: 2px dashed #dcdfe1;
  flex: 1 0 0;
}
